{% extends "questionnaire/base.html" %}
{% block title %}
    СУПЕР МЕГА ОПРОСНИК! ПИЦЦА АРРИВА ПО ПРОМОКОДУ RECRENT23 В ДОДО ПРИ ЗАКАЗЕ ОТ 999руб
{% endblock title %}
{% block body %}
    <h1>Опросник</h1>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <div>
        <br>
        <a href="{% url 'questionnaire:result_view' %}">Перейти к результатам!</a>
    </div>
{% endblock body %}